
@import "tailwindcss";


.grid-background {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -50;
  background-color: black;
  pointer-events: none;
  background-image:
    linear-gradient(to right, rgba(128, 128, 128, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(128, 128, 128, 0.15) 1px, transparent 1px);
  background-size: 100px 100px;
}

/* Add glowing overlay using ::after */
.grid-background::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
    circle 50px at var(--x) var(--y),
    rgba(255, 255, 255, 0.2),
    transparent 60%
  );
  transition: background 0.1s ease;
}


.perspective {
  perspective: 1000px;
}

.tilt-img {
  transform-style: preserve-3d;
  transform: rotateX(20deg); /* backward tilt */
}

/* src/components/SplashScreen.css */
.splash-screen {
  position: fixed;
  inset: 0;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.namaste-svg {
  width: 80%;
  height: auto;
}

.namaste-path {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  fill: none;
  stroke: white;
  stroke-width: 2;
  font-size: 15px;
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: draw 5s ease forwards;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

.fade-out {
  animation: fadeOut 0.8s ease forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}